@import url('https://fonts.googleapis.com/css2?family=Red+Hat+Display:wght@500;700;900&display=swap');
:root{
    --Pale-blue: hsl(225, 100%, 94%);
    --Bright-blue: hsl(245, 75%, 52%);

    --Very-pale-blue: hsl(225, 100%, 98%);
    --Desaturated-blue: hsl(224, 23%, 55%);
    --Dark-blue: hsl(223, 47%, 23%);
}
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
img{
    max-width: 100%;
    
}
#img1{
    width: 100%;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
}
button{
    font-family: 'Red Hat Display', sans-serif;
}
body{
    font-family: 'Red Hat Display', sans-serif;
    background-color: var(--Pale-blue);
    text-align: center;
}
h1{
    color: var(--Dark-blue);
    margin-top: 30px;
    margin-bottom: 20px;
}
p{
    color: var(--Desaturated-blue);
}
.inner-card{
    background-color: var(--Very-pale-blue);
    width: 80%;
    border-radius: 10px;
    display: flex;
    align-items: center;
    justify-content: space-around;
    margin:20px auto;
    overflow: hidden;
}
.bg_img{
    background: url('./images/pattern-background-mobile.svg') no-repeat center/cover;
    height: 50vh;
    position: absolute;
    top:0;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: -1;
}
.btn{
    border: none;
    padding: 5px 5px;
    border-radius: 6px;
    font-weight: bold;
    cursor: pointer;
    
}
.plan img{
    margin-right: 20px;
}
.buttons{
    margin: 30px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.btn-change{
    background-color: transparent;
    color: var(--Bright-blue);
    text-decoration: underline;
}

#proceed{
    box-shadow: 5px 10px 5px hsl(223, 47%, 23%,0.2);
    margin-bottom: 1vh;
    width: 100%;
}
.container{
    background-color: white;
    margin: 20px auto;
    max-width: 80%;
    border-radius: 20px;
    box-shadow: 5px 10px 5px hsl(223, 47%, 23%,0.2);
}
@media(min-width: 768px){
    .bg_img{
        background: url('./images/pattern-background-desktop.svg') no-repeat center/cover;
        height: 50vh;
    }
    .container{
        max-width: 35%;
    }
}
.plan{
    
    display: flex;
    padding: 5%;
    align-items: center;
    justify-content: space-around;

}
.plan h4{
    font-size: 1.2em;
}
.plan p{
    font-size: 1em;
}
.btn-primary{
    background-color: var(--Bright-blue);
    color:white;
    padding: 10px;
}
.btn-primary:hover,.btn-change:hover{
    opacity: 0.7;
}
.btn-secondary{
    padding: 25px;
    background-color: transparent;
    color: var(--Desaturated-blue);
}
.btn-secondary:hover{
    color: hsl(223, 72%, 14%);
}